<%- include('templates/header') %>
<h2>Hello, <%= user.name %>!</h2>
<div class="row mt-4">
  <% images.forEach(img => { %>
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm">
        <img src="/images/<%= img %>" class="card-img-top" alt="<%= img %>">
        <div class="card-body">
          <p class="card-text text-center"><%= img %></p>
        </div>
      </div>
    </div>
  <% }) %>
</div>
<a href="/" class="btn btn-secondary mt-3">Home</a>
<%- include('templates/footer') %>

