<tr>
  <td><%= u.name %></td>
  <td><%= u.email %></td>
  <td><%= u.user_type %></td>
  <td>
    <% 
      // if user is the currently logged-in user
      if (u.email === user.email) { 
    %>
      <span class="text-muted">You</span>

    <% 
      // if user is an admin (but not the current user)
      } else if (u.user_type === "admin") { 
    %>
      <form action="/demote" method="POST" class="d-inline">
        <input type="hidden" name="email" value="<%= u.email %>">
        <button type="submit" class="btn btn-danger btn-sm">Demote</button>
      </form>

    <% 
      // if user is not an admin (and not the current user)
      } else { 
    %>
      <form action="/promote" method="POST" class="d-inline">
        <input type="hidden" name="email" value="<%= u.email %>">
        <button type="submit" class="btn btn-warning btn-sm">Promote</button>
      </form>
    <% } %>
  </td>
</tr>
